---
layout: archive
title: ""
permalink: /research/
author_profile: true
---

{% include base_path %}


<div class="wordwrap">

<b>Preface</b>

<br>
I am interested in understanding electronic distribution of molecular systems and how they can be utilized to accurately predict their interaction and dynamic behaviour within biomolecular systems.  
Various computational techniques are utilized for this purpose. 
For example, experimentally verifiable electronic features of molecules can be obtained using topographical analysis of molecular scalar fields like electron density and electrostatic potential.
Key information can then be utilized to improve molecular force-field that is essential computational tool for studying the dynamic behaviour of molecules within their chemical enviornment that includes the presence of target biomolecule, salt concentration, water etc.
Such techniques allow us to simulate the concerned systems to represent biological phenomena happening at relevant time-scale.
Accurate computational models provide pragmatic picture which not only provides improved understanding of a chemical phenomena but can also be very useful and cost effective approach for their expensive experimental validation. For example, modern drug discovery heavily relies on computational models that can save millions of dollars in determining effective drug candidate provided an array of initial ligands.

During my research I have developed computational methods pertaining to energetics and kinetics of chemical and biochemical phenomena. 
Following are links to key research areas which I have been working on. Please feel free to discuss on any of these or related topics with me.
</br>

</div>

{% assign sorted = site.research | sort: "order" %}
{% for item in sorted %}
  <div class="research-entry">
    <h3><a href="{{ item.url }}">{{ item.title }}</a></h3>
    <p>{{ item.description }}</p>
  </div>
{% endfor %}
